<div class="container">
    <div class="col">
        <h1 class="text-uppercase">About Us</h1>
        <hr>
    </div>
    <div class="col"><img src="images/about/aboutus.jpg">
        <h1 style="margin-top:20px;">Tanakorn Paiboonwattanapon</h1>
        <blockquote class="slogan"><i><strong>Slogan: <q>Everthing is Emptiness</q></i></strong>
        </blockquote>
        <h2>Contact</h2>
        <ul class="skill">
            <li>Email : tanakorn.nonlp@gmail.com</li>
            <li>Tel : 08-26900164</li>
        </ul>
        <h2>Graduated</h2>
        <ol>
            <li>CISAT5</li>
            <li>Computer information System at RMUTL</li>
        </ol>


        <h2>Skill</h2>
        <ul>
            <li>Programming Language:HTML CSS PHP </li>
            <li>Trader in Forex market</lt>
                <li>Swimming,Running</li>
        </ul>
        <h2 id="experience">Experience</h2>
        <table border="1" width="100%">
            <tr>
                <td class="year" style="width: 30%">2015</td>
                <td class="project" style="width:70%">HTML,CSS,DBMS</td>
            </tr>
            <tr>
                <td class="year">2016-2017</td>
                <td class="project">Poker player</td>
            </tr>
            <tr>
                <td class="year">2018-present</td>
                <td class="project">others</td>
            </tr>
        </table>
        <hr>




    </div>
</div>