<div class="container" style="margin-top: 30px;">
    <img class="img-fluid" src="images/jp/22.jpg" alt="Card image cap">

    <h1 style="margin-top: 10px;">National Art Center Tokyo</h1>
    <hr>
    <p class="text-justify">The National Art Center, Tokyo is the national government’s fifth art institution to be organized under the umbrella of the Independent Administrative Institution National Museum of Art. The five other art institutions include The National Museum
        of Modern Art, Tokyo; The National Museum of Modern Art, Kyoto; National Film Archive of Japan; The National Museum of Western Art; and The National Museum of Art, Osaka. The National Art Center, Tokyo (NACT) is a unique and innovative art exhibition
        facility: instead of maintaining a permanent collection, it makes the most of a total of 14,000 square meters of exhibition space, one of the largest in Japan, and focuses on serving as a venue for various art exhibitions. The NACT also promotes
        outreach activities through its educational programs, and the Art Library serves to collect and disseminate information related to art. Located in Tokyo, an international city that attracts people and ideas from all over Japan as well as the rest
        of the world, the NACT will provide people with opportunities to experience amazing and diverse expressions of creativity and contribute to bringing forth a new culture based on the idea of mutual understanding and partnership.</p>

</div>