<div class="container" style="margin-top: 30px;">
    <img class="img-fluid" src="images/th/2.jpg" alt="Card image cap">

    <h1 style="margin-top: 10px;">Bangkok</h1>
    <hr>
    <p class="text-justify">Bangkok traces its roots to a small trading post during the Ayutthaya Kingdom in the 15th century, which eventually grew and became the site of two capital cities: Thonburi in 1768 and Rattanakosin in 1782. Bangkok was at the heart of the modernization
        of Siam, later renamed Thailand, during the late 19th century, as the country faced pressures from the West. The city was at the centre of Thailand's political struggles throughout the 20th century, as the country abolished absolute monarchy,
        adopted constitutional rule, and underwent numerous coups and several uprisings. The city grew rapidly during the 1960s through the 1980s and now exerts a significant impact on Thailand's politics, economy, education, media and modern society.</p>

</div>