<div class="container" style="margin-top: 30px;">
    <img class="img-fluid" src="images/jp/22.jpg" alt="Card image cap">

    <h1 style="margin-top: 10px;">Civic District</h1>
    <hr>
    <p class="text-justify">Your Singapore trip isn’t complete without a visit to the Civic District, where modern Singapore began. Started as a master plan in 1822 by founder of Singapore Sir Stamford Raffles, the Civic District was urban planning at its best, with sections
        along the Singapore River marked for use and new buildings erected for the needs of a thriving trade post. Restored buildings Catch top-notch arts performances or pay your respects to the fallen from the war at the Civic District. Here, some of
        the country’s most historic buildings have been restored and given a new lease of life. Looking for Singapore’s old Parliament House? That would be The Arts House, built in 1827 for the Court and other Government Offices. Arts aficionados, don’t
        miss the Asian Civilisations Museum, with its original neo-classical architecture. Or follow the sound of music to the nearby Victoria Theatre and Concert Hall that was built in 1862 and reopened in July 2014 after a four-year refurbishment. In
        2015, the City Hall and former Supreme Court were reborn as the National Gallery Singapore which displays the world's largest collection of Southeast Asian art, including Singapore art. Remembering the brave If you’re asked to visit ‘The Chopsticks’,
        it’s not food you’ll find but the Civilian War Memorial, honouring civilians killed during the Japanese Occupation. A short walk takes you to Esplanade Park, with historical landmarks such as the Lim Bo Seng Memorial and the Cenotaph. Just across
        the road is the Esplanade – Theatres on the Bay, known for top-notch arts performances. Locals call it ‘the durian’, for its unique architecture that seems to resemble the prickly fruit.</p>

</div>