<div class="container" style="margin-top: 30px;">
    <img class="img-fluid" src="images/sp/33.jpg" alt="Card image cap">

    <h1 style="margin-top: 10px;">Dempsey Hill</h1>
    <hr>
    <p class="text-justify">You’ve probably heard about Orchard Road, Sentosa Island, Marina Bay and all the other must-visit attractions in Singapore. But save some time for Dempsey Hill — one of Singapore’s lesser known lifestyle destinations featuring some of the newest concepts
        in an old world setting that anyone can enjoy. Discover the rich history of Dempsey Hill as you take a stroll along any of its walking trails. Formerly a nutmeg plantation in the 1850s called Mount Harriet, and then repurposed as the military
        camp that was Tanglin Barracks, Dempsey Hill has been through several transformations. But the heritage site maintains quiet and rustic to this day. Redeveloped in 2007, this tranquil hideaway is now a dining, entertainment and shopping destination.</p>

</div>