<div class="container" style="margin-top: 30px;">
    <img class="img-fluid" src="images/jp/11.jpg" alt="Card image cap">

    <h1 style="margin-top: 10px;">Mount Fuji</h1>
    <hr>
    <p class="text-justify">Mount Fuji (富士山, Fujisan) is with 3776 meters Japan's highest mountain. It is not surprising that the nearly perfectly shaped volcano has been worshiped as a sacred mountain and experienced big popularity among artists and common people throughout
        the centuries. Mount Fuji is an active volcano, which most recently erupted in 1707. It stands on the border between Yamanashi and Shizuoka Prefectures and can be seen from Tokyo and Yokohama on clear days. Another easy way to view Mount Fuji
        is from the train on a trip between Tokyo and Osaka. If you take the shinkansen from Tokyo in direction of Nagoya, Kyoto and Osaka, the best view of the mountain can be enjoyed from around Shin-Fuji Station on the right hand side of the train,
        about 40-45 minutes into the journey. Note however, that clouds and poor visibility often block the view of Mount Fuji, and you have to consider yourself lucky if you get a clear view of the mountain. Visibility tends to be better during the colder
        seasons of the year than in summer, and in the early morning and late evening hours than during the middle of the day. If you want to enjoy Mount Fuji at a more leisurely pace and from a nice natural surrounding, you should head to the Fuji Five
        Lake (Fujigoko) region at the northern foot of the mountain, or to Hakone, a nearby hot spring resort. Mount Fuji is officially open for climbing during July and August via several routes.</p>

</div>