<div class="container" style="margin-top: 30px;">
    <img class="img-fluid" src="images/jp/33.jpg" alt="Card image cap">

    <h1 style="margin-top: 10px;">Niseko</h1>
    <hr>
    <p class="text-justify">Niseko is the most famous ski resort in Japan, known for having tons of light powder snow, spectacular backcountry and a large number of foreigners - especially Australians - who in recent years have been responsible for popularizing the resort area
        with the skiing/snowboarding community outside of Japan. As a result, Niseko's resorts are very accessible and welcoming to foreign visitors, which they keep busy with plenty of vast, long ski runs, endless powder, and a growing number of after-ski
        activities.</p>

</div>