<div class="container" style="margin-top: 30px;">
    <img class="img-fluid" src="images/th/3.jpg" alt="Card image cap">

    <h1 style="margin-top: 10px;">Satun</h1>
    <hr>
    <p class="text-justify">Satun is one of the four provinces of Thailand which have a Muslim majority: 67.8 percent are Muslim and 31.9 percent are Buddhists.[citation needed] Most of the Muslims have some ethnic-Malay ancestry, though only 9.9 percent of the population claims
        to be ethnically Malay. Majority language in Satun Province is Southern Thai,while the Malay dialect used in Satun is distinctly different from Patani Malay and is much closer to the Kedah dialect of Malay. Since Satun had belonged to the Kedah
        Sultanate, which had a strong relationship for many centuries with both Ayutthaya and Siam under the Chakri dynasty, its Malay Muslims commonly intermarry with Thai Buddhists without serious religious hesitation. This custom has created a distinct
        social group known as samsam, meaning a mixed person. Most samsams, if not all, are Muslims. Unlike the other Muslim majority provinces in Thailand, Satun does not have a history of political confrontation with the central power in Bangkok or
        of tension with the Buddhist population which makes up the majority of Thailand as a country. Malay Muslims in Satun are substantially assimilated and rarely sympathise with separatism from Thailand, in contrast to the Malay Muslims in Pattani,
        Narathiwat, and Yala.</p>

</div>