<div class="container" style="margin-top: 30px;">
    <img class="img-fluid" src="images/sp/11.jpg" alt="Card image cap">

    <h1 style="margin-top: 10px;">Sentosa Island</h1>
    <hr>
    <p class="text-justify">Before it was known as Sentosa, this island just off Singapore’s southern coast was a British military fortress. After the Japanese Occupation in World War II, Singapore returned to British rule, and the island was renamed “Sentosa” which translates
        to “peace and tranquility.” Over the course of its remarkable history, Sentosa has transformed into a beloved island resort, best known for its tropical beaches, luxurious hotels and thrilling attractions. Whether you’re looking for an adrenaline
        rush or a day of bold exploration, a world of adventure awaits you at Sentosa.</p>

</div>